{% include 'base.html' %}
<h1>Kyselmä</h1>

Tervetuloa kyselmien ihmeelliseen maailmaan. Täällä laadit ikioman kyselmän
ja vastailet kavereidesi luomiin kyselmiin. Vastattuasi pääset vertailemaan
vastauksiasi muiden vatausten kassa. Alkuun pääset painamalla ylhäätä "Luo"
ja tekemällä uuden kyselmän. Tämän jälkeen vain lisäät niin monta kysymystä
vastausvaihtoehtoineen kuin haluat ja lopuksi painat valmis, jonka jälkeen
muutkin pääsee vastaamaan kyselmään koodilla. Tarkastelussa voit valita
mitkä tahansa kaksi vastaaja ja tutkia vastausten samankaltaisuutta ja
kaiken huipuksi vastauksista lasketaan yhtäläisyys prosentti. Parhaat ja
huonoimmat yhtäläisyydet löytyvät nappeina kysymysten alta. Voit myös
halutessasi vaihtaa nimimerkkiä painamalla nykyistä nimimerkkiä 5 sekunnin
ajan. Tämän jälkeen sinut ohjataan nimemerkinvaihtosivulle.
<br><br>
Viihtyisiä hetkiä kyselmien parissa.
